
    <% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Login</h1>
        <div class="col-6 offset-3">
            <form action="" method="POST">
                <div class= "mb-3">
                    <label class="form-label" for="username">Title</label>
                    <input class="form-control" type="text" id="username" name="username">
                </div>
                <div class= "mb-3">
                    <label class="form-label" for="pass">Password</label>
                    <input class="form-control" type="text" id="pass" name="pass">
                </div>
                

                <div class="mb-3">
                    <a class="btn btn-success" href="/artworks">Log in!</a>
                </div>
            </form>
        </div>
    </div>